# -*- mode: gitignore; -*-

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Directory configuration
.dir-locals.el
.cache
/elisp/
/elpa/
/eshell/history
/eshell/lastdir

# Files configuration
.projectile
projectile-bookmarks.eld
helm-adaptive-history
.org-id-locations
*_archive
*_flymake.*
flycheck_*.el
recentf
private.el
